@model IEnumerable<ERecord.Models.ApplicationUser>
@using ERecord.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@{
    ViewBag.Title = "Subordinates";
}

@if (User.IsInRole(RoleName.Admin))
{
    <div>
        <a href="@Url.Action("Index", "Admin")", class="btn btn-info btn-sm">Back To List</a>
    </div>
}
else
{
    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-sm" })
    </div>
}

@{
    // Get The ApplicationUser Objects in one line of code.
    ApplicationUser user = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());
}

<br /><br />

<h4 class="edit-h4">@user.FullName <span class="display-name">Subordinates</span></h4>

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Phone
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            Qualification

        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumQulaification)
            </td>
        </tr>
    }

</table>

<div style="text-align: center" class="nice-color">@ViewBag.Message</div>

<br /><br />

@if (User.IsInRole(RoleName.Admin))
{
    <div>
        <a href="@Url.Action("Index", "Admin")" , class="btn btn-info btn-sm">Back To List</a>
    </div>
}
else
{
    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-sm" })
    </div>
}
