@model ERecord.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body class="reg-page">
<a href="@Url.Action("Index", "Home")"><div class="reg-logo"><img src="~/Content/img/ems-logo.png" /></div></a>
<h4 class="reg-h4">Create a new Employee Account.</h4>
<div class="reg-form">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id="register", @class = "form-horizontal row", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Please fix the following errors.", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone" })
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
                @Html.ValidationMessageFor(m => m.Address)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City" })
                @Html.ValidationMessageFor(m => m.City)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.State, "--Select State--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.State)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.Nationality, "--Select Country--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Nationality)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.Gender, "--Select Gender--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Gender)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(m => m.Dob, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date of Birth" } })
                @Html.ValidationMessageFor(m => m.Dob)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.MaritalStatus, "--Select Marital Status--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MaritalStatus)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.NumberOfChildren, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(m => m.NumberOfChildren, new { htmlAttributes = new { @class = "form-control", placeholder = "Number of Children (If Any)" } })
                @Html.ValidationMessageFor(m => m.NumberOfChildren)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <input type="submit" class="btn btn-warning" value="Register" />
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-offset-6 col-md-6">
            <a href="@Url.Action("Login", "Account")" class="btn btn-info btn-sm">Have an Account ? <span class="reg-login">Login Here</span></a>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    function init() {
        document.getElementById("register").reset();
    }
    window.onload = init;
</script>
</body>
</html>


