@model ERecord.Models.ApplicationUser
@using ERecord.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title EMS - Index</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/landing.css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body class="landing">
	<header class="main-header">
	<div class="logo clearfix">
		<img src="~/Content/img/ems-logo.png" />
		
		@{
			//Get the ApplicationUser object in one line of code
			ApplicationUser user = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());
		}

		@if (Request.IsAuthenticated)
		{
			if (User.IsInRole(RoleName.Admin))
			{
				<span><i style="color: #F00">Hello Admin! </i> &nbsp; &nbsp; &nbsp; <a href="@Url.Action("Index", "Admin")" class="btn btn-info btn-sm"> Manage Employees</a></span>
			}
			else
			{
				var userId = User.Identity.GetUserId();
				<span><ii style="color: #F00">Welcome @user.FullName! </ii> &nbsp; &nbsp; &nbsp; <a href="@Url.Action("Index", "Employee", new {id = userId})" class="btn btn-info btn-sm"> View Profiles</a></span>
			}
		}

		<span class="nice-color">@ViewBag.LogoffMessage</span>
	</div>
		<nav class="main-nav clearfix">
			@if (Request.IsAuthenticated)
			{
				using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "inline-block" }))
				{
					@Html.AntiForgeryToken()
					<li><a style="color: red" class="bg-normal" href="javascript:document.getElementById('logoutForm').submit()"> Log off </a></li>}
			}
			else
			{
				<li><a href="@Url.Action("Login", "Account")" class="bg-normal">Sign In</a></li>
				<li><a href="@Url.Action("Register", "Account")" class="bg-red">Create an Account</a></li>
			}
		</nav>
	</header>
<div class="content">
	<div class="in-content">
		@if (User.IsInRole(RoleName.Admin))
		{
			<p>Registered Employees: <span style="color: #19ec19;">@ViewBag.AllEmployeesCount</span></p>
			<p>Employees with Access: <span style="color: #19ec19;">@ViewBag.ApprovedEmployeesCount</span></p>
			<p>Employees without Access: <span style="color: #19ec19;">@ViewBag.UnApprovedEmployeesCount</span></p>
		}
		else
		{
			<p>Employee Management System</p>
			<p>Beauty, Simplicity &</p>
			<p>Everything Else</p>
		}
		@if (!Request.IsAuthenticated)
		{
			<a href="@Url.Action("Register", "Account")" class="account bg-red">Create an Account</a>
		}
	</div>
</div>
</body>
</html>