@model IEnumerable<ERecord.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>List of Employees</h2>

@using (Html.BeginForm())
{
    <p>
        <h4 style="color: #DE3131;">Find Employee by name:</h4> @Html.TextBox("SearchString", null, new { @class = "form-control", style= "display: inline-block;" })
        <input class="btn btn-primary btn-sm" type="submit" value="Search" />
    </p>
}

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.ActionLink("Position", "Index", new { sortOrder = ViewBag.Position })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.ActionLink("Gender", "Index", new { sortOrder = ViewBag.Gender })
        </th>
        <th>
            @Html.ActionLink("Employment Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Yearly Salary", "Index", new { sortOrder = ViewBag.SalarySortParm })
        </th>
        <th>
            Manage Employees
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlySalary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", null, new { id=item.Id}, new { @class = "btn btn-default btn-sm"}) |
                @Html.ActionLink("Details", "Details", null, new { id=item.Id}, new { @class = "btn btn-info btn-sm" }) |
                @Html.ActionLink("Delete", "Delete", null, new { id=item.Id}, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>
<div style="text-align: center" class="nice-color">@ViewBag.SearchMessage</div>